

/*-- scss:defaults --*/

html {
  margin-left: 30%;
  margin-right: 30%;
}

span {
  margin: 5px 0px 5px 0px;
}


* {
  font-family: Helvetica, Sans-Serif, Calibri Light;
}

.sourceCode {
  background-color: #ecf3f2;
  border-radius: 5px;
  color: #464848;
  padding: 5px 5px 5px 5px;
  margin: 5px;
}


a {
  color: #000000;
}

#TOC{
  position: absolute;
  right: 20%;
  top: 5%;
}

